@use '../../../assets/css/colors.scss';

$tree-icon-border: 4px;
$tree-icon-size: 40px;

.tree-icon {
    border-radius: 50%;
    width: $tree-icon-size;
    height: $tree-icon-size;
    border: $tree-icon-border solid colors.$header-text-color;
    color: colors.$header-text-color;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}