$text-h1: 32px;
$text-h2: 24px;
$text-h3: 20px;
$text: 14px;
$text-small: 11px;

$padding-horizontal: 16px;
$padding-vertical: 12px;
$padding-horizontal-small: 8px;
$padding-vertical-small: 6px;

$border-radius-component: 24px;